	<!-- pre loader area start -->
	<div id="back__preloader">
		<div id="back__circle_loader"></div>
		<div class="back__loader_logo"><img alt="Preload" src="img/pre.png"></div>
	</div><!-- pre loader area end -->